In [25]:
import pandas as pd

In [18]:
def koren_besede(beseda):
    beseda = ''.join(znak for znak in beseda if znak.isalpha())
    if not beseda:
        return '$'
    return beseda.rstrip('ds').rstrip('aeiou')

In [37]:
def koreni_besed(niz):
    return pd.Series(sorted({koren_besede(beseda) for beseda in niz.replace('-', ' ').lower().split()}))

In [38]:
koreni_besed("In 1938, after his father Professor Henry Jones, Sr. goes missing while pursuing the Holy Grail, Indiana Jones finds himself up against Adolf Hitler's Nazis again to stop them obtaining its powers.")

0             $
1         adolf
2         after
3         again
4       against
5        father
6           fin
7             g
8         grail
9             h
10        henry
11      himself
12       hitler
13         holy
14           in
15       indian
16           it
17          jon
18      missing
19          naz
20    obtaining
21        power
22    professor
23     pursuing
24           sr
25         stop
26            t
27           th
28         them
29           up
30         whil
dtype: object

In [39]:
filmi = pd.read_csv('../../02-zajem-podatkov/predavanja/obdelani-podatki/filmi.csv', index_col='id')

In [40]:
filmi

,naslov,dolzina,leto,ocena,metascore,glasovi,zasluzek,oznaka,opis
id,,,,,,,,,
4972,The Birth of a Nation,195,1915,6.3,NaN,22363,10000000.0,NaN,The Stoneman family finds its friendship with ...
6864,Intolerance: Love's Struggle Throughout the Ages,163,1916,7.7,99.0,13970,2180000.0,NaN,"The story of a poor young woman, separated by ..."
9968,Broken Blossoms or The Yellow Man and the Girl,90,1919,7.3,NaN,9296,NaN,NaN,"A frail waif, abused by her brutal boxer fathe..."
10323,Das Cabinet des Dr. Caligari,76,1920,8.1,NaN,56089,NaN,NaN,"Hypnotist Dr. Caligari uses a somnambulist, Ce..."
12349,The Kid,68,1921,8.3,NaN,110278,5450000.0,NaN,"The Tramp cares for an abandoned child, but ev..."
...,...,...,...,...,...,...,...,...,...
11390036,A Fall from Grace,115,2020,5.8,34.0,10414,NaN,NaN,"Disheartened since her ex-husband's affair, Gr..."
11905962,Sputnik,113,2020,6.3,61.0,8285,NaN,NaN,The lone survivor of an enigmatic spaceship in...
12393526,Bulbbul,94,2020,6.6,NaN,8381,NaN,NaN,A man returns home after years to find his bro...
12567088,Raat Akeli Hai,149,2020,7.3,NaN,12232,NaN,NaN,The film follows a small town cop who is summo...
12749596,Host,57,2020,6.6,72.0,8713,NaN,NaN,Six friends hire a medium to hold a seance via...

In [41]:
zanri = pd.read_csv('../../02-zajem-podatkov/predavanja/obdelani-podatki/zanri.csv')

In [42]:
zanri

           film     zanr
0          4972    Drama
1          4972  History
2          4972      War
3          6864    Drama
4          6864  History
...         ...      ...
25521  12567088    Crime
25522  12567088    Drama
25523  12567088  Mystery
25524  12749596   Horror
25525  12749596  Mystery

[25526 rows x 2 columns]

In [44]:
st_filmov_po_zanru = zanri.groupby('zanr').size()

In [46]:
st_vseh_filmov = len(filmi)

In [47]:
st_vseh_filmov

10000

In [48]:
verjetnost_zanra = st_filmov_po_zanru / st_vseh_filmov

In [49]:
verjetnost_zanra

zanr
Action       0.2401
Adventure    0.1609
Animation    0.0447
Biography    0.0633
Comedy       0.3741
Crime        0.1984
Drama        0.5662
Family       0.0524
Fantasy      0.0751
Film-Noir    0.0057
History      0.0345
Horror       0.1237
Music        0.0279
Musical      0.0137
Mystery      0.0964
Romance      0.1814
Sci-Fi       0.0707
Sport        0.0201
Thriller     0.1677
War          0.0237
Western      0.0119
dtype: float64

In [52]:
opisi_in_zanri = pd.merge(filmi, zanri, left_on='id', right_on='film')[['zanr', 'opis']]

In [53]:
opisi_in_zanri

          zanr                                               opis
0        Drama  The Stoneman family finds its friendship with ...
1      History  The Stoneman family finds its friendship with ...
2          War  The Stoneman family finds its friendship with ...
3        Drama  The story of a poor young woman, separated by ...
4      History  The story of a poor young woman, separated by ...
...        ...                                                ...
25521    Crime  The film follows a small town cop who is summo...
25522    Drama  The film follows a small town cop who is summo...
25523  Mystery  The film follows a small town cop who is summo...
25524   Horror  Six friends hire a medium to hold a seance via...
25525  Mystery  Six friends hire a medium to hold a seance via...

[25526 rows x 2 columns]

In [64]:
def moja_funkcija(x): return 2 * x + 1 if x < 6 else abs(x)

In [65]:
filmi.ocena.apply(moja_funkcija)

id
4972         6.3
6864         7.7
9968         7.3
10323        8.1
12349        8.3
            ...
11390036    12.6
11905962     6.3
12393526     6.6
12567088     7.3
12749596     6.6
Name: ocena, Length: 10000, dtype: float64

In [73]:
tabela_korenov_in_filmov = filmi.opis.apply(koreni_besed)

In [68]:
def stevilo_besed(niz): return len(niz.split())

In [74]:
tabela_korenov_in_filmov

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
id,,,,,,,,,,,,,,,,,,,,,
4972,affect,an,arm,assassination,birth,both,by,cameron,civil,development,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6864,,an,baby,by,from,her,history,husban,interwoven,intoleranc,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9968,,abus,befriend,boxer,brutal,by,chines,consequenc,district,father,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10323,,caligar,cesar,commit,dr,hypnotist,murder,somnambulist,t,us,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12349,abandon,an,but,car,chil,event,for,in,jeopardy,put,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11390036,,affair,but,by,dishearten,erod,ex,feel,grac,her,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11905962,,alon,an,back,body,creatur,danger,enigmatic,h,hasnt,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12393526,,abandon,after,an,ancestral,brid,brother,by,chil,death,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12567088,,an,by,complicat,conflict,cop,death,family,film,follow,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12749596,,bargain,but,during,far,for,frien,g,get,hir,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
koreni_in_filmi = tabela_korenov_in_filmov.stack().reset_index()[['id', 0]].rename(columns={'id': 'film', 0: 'koren'})

In [84]:
koreni_in_filmi

            film          koren
0           4972         affect
1           4972             an
2           4972            arm
3           4972  assassination
4           4972          birth
...          ...            ...
225121  12749596           they
225122  12749596          thing
225123  12749596              v
225124  12749596          wrong
225125  12749596           zoom

[225126 rows x 2 columns]

In [87]:
koreni_in_zanri = pd.merge(koreni_in_filmi, zanri)
koreni_in_zanri

            film   koren     zanr
0           4972  affect    Drama
1           4972  affect  History
2           4972  affect      War
3           4972      an    Drama
4           4972      an  History
...          ...     ...      ...
575582  12749596       v  Mystery
575583  12749596   wrong   Horror
575584  12749596   wrong  Mystery
575585  12749596    zoom   Horror
575586  12749596    zoom  Mystery

[575587 rows x 3 columns]

In [91]:
stevila_korenov_pri_zanru = pd.crosstab(koreni_in_zanri.koren, koreni_in_zanri.zanr)

In [92]:
stevila_korenov_pri_zanru

zanr,Action,Adventure,Animation,Biography,Comedy,Crime,Drama,Family,Fantasy,Film-Noir,...,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
koren,,,,,,,,,,,,,,,,,,,,,
,2171,1418,389,499,3315,1819,5077,454,673,54,...,1150,243,122,903,1607,656,170,1575,213,99
$,233,148,33,147,359,184,685,44,51,2,...,110,29,8,78,171,86,30,148,48,18
aang,1,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
aaron,1,1,0,0,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
aart,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zÃ©,0,0,1,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Ã¡ngel,0,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,1,0,0
Ã§anakkal,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ã©dith,0,0,0,1,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
Ã©milien,1,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [90]:
st_filmov_po_zanru

zanr
Action       2401
Adventure    1609
Animation     447
Biography     633
Comedy       3741
Crime        1984
Drama        5662
Family        524
Fantasy       751
Film-Noir      57
History       345
Horror       1237
Music         279
Musical       137
Mystery       964
Romance      1814
Sci-Fi        707
Sport         201
Thriller     1677
War           237
Western       119
dtype: int64

In [96]:
verjetnosti_korenov_pri_zanru = (stevila_korenov_pri_zanru + 0.1) / st_filmov_po_zanru

In [97]:
verjetnosti_korenov_pri_zanru.head(30)

zanr,Action,Adventure,Animation,Biography,Comedy,Crime,Drama,Family,Fantasy,Film-Noir,...,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
koren,,,,,,,,,,,,,,,,,,,,,
,0.904248,0.881355,0.870470,0.788468,0.886153,0.916885,0.896697,0.866603,0.896272,0.949123,...,0.929749,0.871326,0.891241,0.936826,0.885943,0.928006,0.846269,0.939237,0.899156,0.832773
$,0.097085,0.092045,0.074049,0.232385,0.095990,0.092792,0.121000,0.084160,0.068043,0.036842,...,0.089006,0.104301,0.059124,0.081017,0.094322,0.121782,0.149751,0.088312,0.202954,0.152101
aang,0.000458,0.000684,0.000224,0.000158,0.000027,0.000050,0.000018,0.002099,0.000133,0.001754,...,0.000081,0.000358,0.000730,0.000104,0.000055,0.000141,0.000498,0.000060,0.000422,0.000840
aaron,0.000458,0.000684,0.000224,0.000158,0.000561,0.000050,0.000018,0.000191,0.000133,0.001754,...,0.000081,0.000358,0.000730,0.000104,0.000055,0.000141,0.000498,0.000060,0.000422,0.000840
aart,0.000042,0.000062,0.000224,0.000158,0.000027,0.000050,0.000194,0.000191,0.000133,0.001754,...,0.000081,0.000358,0.000730,0.000104,0.000606,0.000141,0.000498,0.000060,0.000422,0.000840
ab,0.000458,0.000684,0.000224,0.000158,0.000294,0.000050,0.000548,0.002099,0.001465,0.001754,...,0.000081,0.000358,0.000730,0.000104,0.001158,0.000141,0.000498,0.000060,0.004641,0.000840
aback,0.000042,0.000062,0.000224,0.000158,0.000294,0.000050,0.000018,0.000191,0.000133,0.001754,...,0.000081,0.000358,0.000730,0.000104,0.000606,0.000141,0.005473,0.000060,0.000422,0.000840
abagnal,0.000042,0.000062,0.000224,0.001738,0.000027,0.000554,0.000194,0.000191,0.000133,0.001754,...,0.000081,0.000358,0.000730,0.000104,0.000055,0.000141,0.000498,0.000060,0.000422,0.000840
abahach,0.000042,0.000062,0.000224,0.000158,0.000294,0.000050,0.000018,0.000191,0.000133,0.001754,...,0.000081,0.000358,0.000730,0.000104,0.000055,0.000141,0.000498,0.000060,0.000422,0.009244
abandon,0.002541,0.003791,0.009172,0.001738,0.003769,0.002571,0.004433,0.011641,0.004128,0.001754,...,0.017057,0.003943,0.008029,0.009440,0.002811,0.005799,0.000498,0.005426,0.000422,0.009244
abandoning,0.000042,0.000062,0.000224,0.000158,0.000027,0.000050,0.000548,0.002099,0.000133,0.001754,...,0.000081,0.000358,0.000730,0.001141,0.000606,0.000141,0.005473,0.000060,0.000422,0.000840
abb,0.000042,0.000062,0.000224,0.000158,0.000829,0.000050,0.000371,0.000191,0.000133,0.001754,...,0.000081,0.000358,0.008029,0.000104,0.001709,0.000141,0.000498,0.000060,0.000422,0.000840
abbas,0.000458,0.000062,0.000224,0.000158,0.000027,0.000050,0.000194,0.000191,0.000133,0.001754,...,0.000889,0.000358,0.000730,0.001141,0.000055,0.000141,0.000498,0.000656,0.000422,0.000840
abbey,0.000042,0.000062,0.000224,0.000158,0.000027,0.000554,0.000194,0.000191,0.000133,0.001754,...,0.000081,0.000358,0.000730,0.001141,0.000055,0.000141,0.000498,0.000060,0.000422,0.000840
abby,0.000458,0.000062,0.000224,0.001738,0.000294,0.000050,0.000371,0.000191,0.002796,0.001754,...,0.001698,0.000358,0.000730,0.000104,0.000055,0.000141,0.000498,0.000656,0.000422,0.000840
abduct,0.004623,0.006277,0.018121,0.003318,0.001898,0.004083,0.003197,0.002099,0.001465,0.001754,...,0.007357,0.000358,0.000730,0.006328,0.000606,0.002970,0.000498,0.006619,0.000422,0.000840
abducting,0.000042,0.000062,0.000224,0.000158,0.000027,0.000050,0.000194,0.000191,0.000133,0.001754,...,0.000889,0.000358,0.000730,0.000104,0.000055,0.000141,0.000498,0.000656,0.000422,0.000840
abduction,0.000875,0.000062,0.000224,0.000158,0.000027,0.001058,0.000371,0.000191,0.000133,0.001754,...,0.000889,0.000358,0.000730,0.001141,0.000055,0.000141,0.000498,0.000656,0.000422,0.000840
abductor,0.000042,0.000062,0.000224,0.000158,0.000027,0.000050,0.000371,0.000191,0.000133,0.001754,...,0.000889,0.000358,0.000730,0.003216,0.000055,0.000141,0.000498,0.001252,0.000422,0.000840
abdul,0.000042,0.000062,0.000224,0.001738,0.000027,0.000050,0.000194,0.000191,0.000133,0.001754,...,0.000081,0.000358,0.000730,0.000104,0.000055,0.000141,0.000498,0.000060,0.000422,0.000840
aberration,0.000042,0.000684,0.000224,0.000158,0.000027,0.000050,0.000194,0.000191,0.000133,0.001754,...,0.000081,0.000358,0.000730,0.000104,0.000055,0.000141,0.000498,0.000060,0.000422,0.009244
abid,0.000042,0.000062,0.000224,0.000158,0.000294,0.000050,0.000194,0.000191,0.000133,0.001754,...,0.000081,0.000358,0.008029,0.000104,0.001158,0.000141,0.000498,0.000060,0.000422,0.000840
abiding,0.000875,0.000684,0.000224,0.000158,0.000294,0.000554,0.000018,0.000191,0.000133,0.001754,...,0.000889,0.000358,0.000730,0.000104,0.000055,0.001556,0.000498,0.000656,0.000422,0.000840
abigail,0.000042,0.000062,0.000224,0.001738,0.000294,0.000050,0.000194,0.000191,0.000133,0.001754,...,0.000081,0.000358,0.000730,0.000104,0.000055,0.000141,0.000498,0.000060,0.000422,0.000840
abilit,0.004207,0.004413,0.002461,0.000158,0.001363,0.001058,0.000724,0.002099,0.006791,0.001754,...,0.002506,0.000358,0.000730,0.000104,0.001709,0.015700,0.000498,0.003041,0.000422,0.000840
ability,0.002957,0.001305,0.000224,0.000158,0.001898,0.001058,0.001431,0.000191,0.004128,0.001754,...,0.004931,0.000358,0.000730,0.004253,0.001709,0.005799,0.010448,0.001849,0.000422,0.000840
abimany,0.000458,0.000062,0.000224,0.000158,0.000027,0.000554,0.000018,0.000191,0.000133,0.001754,...,0.000081,0.000358,0.000730,0.000104,0.000055,0.000141,0.000498,0.000656,0.000422,0.000840
abkhaz,0.000042,0.000062,0.000224,0.000158,0.000027,0.000050,0.000194,0.000191,0.000133,0.001754,...,0.000081,0.000358,0.000730,0.000104,0.000055,0.000141,0.000498,0.000060,0.004641,0.000840
abl,0.002124,0.000684,0.004698,0.001738,0.001631,0.001563,0.001607,0.004008,0.002796,0.001754,...,0.002506,0.000358,0.008029,0.003216,0.001709,0.000141,0.000498,0.000060,0.000422,0.000840
ablaz,0.000458,0.000684,0.000224,0.000158,0.000027,0.000050,0.000018,0.000191,0.001465,0.001754,...,0.000081,0.000358,0.000730,0.000104,0.000055,0.000141,0.000498,0.000060,0.000422,0.000840

In [126]:
koreni_indiane_3 = koreni_besed("Space ships appear.")

In [127]:
verjetnosti_korenov_pri_zanru.index.isin(koreni_indiane_3)

array([False, False, False, ..., False, False, False])

In [128]:
verjetnosti_korenov_pri_zanru[verjetnosti_korenov_pri_zanru.index.isin(koreni_indiane_3)]

zanr,Action,Adventure,Animation,Biography,Comedy,Crime,Drama,Family,Fantasy,Film-Noir,...,Horror,Music,Musical,Mystery,Romance,Sci-Fi,Sport,Thriller,War,Western
koren,,,,,,,,,,,,,,,,,,,,,
appear,0.002541,0.001927,0.004698,0.003318,0.003234,0.004587,0.002844,0.004008,0.004128,0.001754,...,0.007357,0.000358,0.000730,0.010477,0.000055,0.004385,0.000498,0.006023,0.000422,0.00084
ship,0.009204,0.015600,0.013647,0.004897,0.004036,0.001563,0.004256,0.007824,0.004128,0.001754,...,0.006548,0.000358,0.008029,0.001141,0.003363,0.012871,0.000498,0.006023,0.017300,0.00084
spac,0.011703,0.018086,0.018121,0.004897,0.002967,0.000554,0.004256,0.015458,0.004128,0.001754,...,0.011399,0.007527,0.000730,0.005290,0.002260,0.046818,0.000498,0.010197,0.000422,0.00084

In [129]:
(verjetnosti_korenov_pri_zanru[verjetnosti_korenov_pri_zanru.index.isin(koreni_indiane_3)].prod() * verjetnost_zanra).sort_values().tail(5)

zanr
Thriller     6.202585e-08
Action       6.571191e-08
Horror       6.792132e-08
Adventure    8.746138e-08
Sci-Fi       1.868066e-07
dtype: float64